.single-slider{
    background-image: url(src\assets\img\hero\h1hero.jpg);

}
.apply-process-area{
    background-image: url(src\assets\img\gallery\how-applybg.png);

}
.online-cv{
    background-image: url(src\assets\img\gallery\cv_bg.jpg);
}