
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/sh.jpg" height="100%" width="100%">
        </div>
  <div class="col-md-4 mt-3 mb-2">
    <h3 class="text-success text-center"><b>Espace Candidat</b></h3>

    <form action="" class="mt-5 p-5">
        <h5 class="text-primary mb-3">Login </h5>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="Email"  (change)="GetEmail($event)" required>
            <label for="floatingInput">Your Email</label>
        </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" (change)="GetPassword($event)" required>
            <label for="floatingPassword">Your Password</label>
          </div>
          
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-success me-md-2" type="button" (click)="logincandidat()" required >Login</button>
            
          </div>

          <a href="signupc" class="text-primary" style="text-decoration: none;">Need account ? </a>
    </form>

</div>
<div class="col-md-2">
</div>
</div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  