

  

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/pex.webp" height="90%" width="100%">
        </div>
        <div class="col-md-4 mt-3 mb-2">
            <h3 class="text-success text-center"><b>Espace Candidat  </b></h3>

            <form action="" class="mt-5 p-5">
                <h5 class="text-primary mb-3">Sign up </h5>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control"  placeholder="FirstName" name="firstname" (change)="Getfirstname($event)" required="required" >
                    <label for="floatingInput">Your FirstName</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="LastName" name="lastname" (change)="Getlastname($event)" required="required">
                    <label for="floatingInput">Your LastName</label>
                </div>
                  <div class="form-floating mb-3">
                    <input type="texe" class="form-control" id="floatingPassword" placeholder="Age" name="age" (change)="Getage($event)" required="required">
                    <label for="floatingPassword">Your Age</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="Email" class="form-control" id="floatingPassword" placeholder="Email" name="email" (change)="Getemail($event)" required="required">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" (change)="GetPassword($event)" required="required">
                    <label for="floatingPassword">Your Password</label>
                  </div>
                  
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2" type="button"  href="loginc" (click)="fn1($event)"  >Register</button>
                  </div>

                  <a href="loginc" class="text-primary" style="text-decoration: none;">Log In ? </a>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  