
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <form class="form-inline">
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
      </button>
  </form>

  <!-- Topbar Search -->
  <form
      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
              aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
              </button>
          </div>
      </div>
  </form>

<ul class="navbar-nav ml-auto">

  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
  <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
          aria-labelledby="searchDropdown">
          <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small"
                      placeholder="Search for..." aria-label="Search"
                      aria-describedby="basic-addon2">
                  <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </li>

  <!-- Nav Item - Alerts -->
  <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <!-- Counter - Alerts -->
          <span class="badge badge-danger badge-counter">3+</span>
      </a>
      <!-- Dropdown - Alerts -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
              Alerts Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                  <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                  </div>
              </div>
              <div>
                  <div class="small text-gray-500">December 12, 2019</div>
                  <span class="font-weight-bold">A new monthly report is ready to download!</span>
              </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                  <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                  </div>
              </div>
              <div>
                  <div class="small text-gray-500">December 7, 2019</div>
                  $290.29 has been deposited into your account!
              </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                  <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
              </div>
              <div>
                  <div class="small text-gray-500">December 2, 2019</div>
                  Spending Alert: We've noticed unusually high spending for your account.
              </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
      </div>
  </li>

  <!-- Nav Item - Messages -->
  <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter">7</span>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">
              Message Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_1.svg"
                      alt="...">
                  <div class="status-indicator bg-success"></div>
              </div>
              <div class="font-weight-bold">
                  <div class="text-truncate">Hi there! I am wondering if you can help me with a
                      problem I've been having.</div>
                  <div class="small text-gray-500">Emily Fowler · 58m</div>
              </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_2.svg"
                      alt="...">
                  <div class="status-indicator"></div>
              </div>
              <div>
                  <div class="text-truncate">I have the photos that you ordered last month, how
                      would you like them sent to you?</div>
                  <div class="small text-gray-500">Jae Chun · 1d</div>
              </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_3.svg"
                      alt="...">
                  <div class="status-indicator bg-warning"></div>
              </div>
              <div>
                  <div class="text-truncate">Last month's report looks great, I am very happy with
                      the progress so far, keep up the good work!</div>
                  <div class="small text-gray-500">Morgan Alvarez · 2d</div>
              </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                      alt="...">
                  <div class="status-indicator bg-success"></div>
              </div>
              <div>
                  <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                      told me that people say this to all dogs, even if they aren't good...</div>
                  <div class="small text-gray-500">Chicken the Dog · 2w</div>
              </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
      </div>
  </li>

  <div class="topbar-divider d-none d-sm-block"></div>

  <!-- Nav Item - User Information -->
  <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{firstname}}</span>
          <img class="img-profile rounded-circle"
              src="img/undraw_profile.svg">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="userDropdown">
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  data-toggle="modal" data-target="#logoutModal" href="homme">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
          </a>
      </div>
  </li>

</ul>

</nav>


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Candidat Profile</li>
          </ol>
        </nav>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{firstname}}</h5>
           
  
            <div class="d-flex justify-content-center mb-2">
              
              <button type="button" routerLink="/" class="btn btn-outline-primary ms-1">Go Back</button>
            </div>
            
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <form action="" (ngSubmit)="update2()" class="mt-5 p-5">
             
              <div class="form-floating mb-3">
                  <input type="text" class="form-control"  placeholder="FirstName" name="firstname" [(ngModel)]="utilisateur.firstName" required="required" >
                  <label for="floatingInput">Your FirstName</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="LastName" name="lastname" [(ngModel)]="utilisateur.lastName" required="required">
                  <label for="floatingInput">Your LastName</label>
              </div>
                <div class="form-floating mb-3">
                  <input type="texe" class="form-control" id="floatingPassword" placeholder="Age" name="age" [(ngModel)]="utilisateur.age" required="required">
                  <label for="floatingPassword">Your Age</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="Email" class="form-control" id="floatingPassword" placeholder="Email" name="email" [(ngModel)]="utilisateur.email" required="required">
                  <label for="floatingPassword">Email</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="utilisateur.password" required="required">
                  <label for="floatingPassword">Your Password</label>
                </div>
                <hr>
                <div class="add-on ng-binding mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Phone" name="Phone Number" [(ngModel)]="utilisateur.tel" [required]="true" [maxLength]="8"[minlength]="8" required>
                    <label for="floatingPassword">Phone</label>
                  </div>
                <hr>
                <h3>Your education </h3>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="bac" id="flexRadioDefault2" [(ngModel)]="utilisateur.etude"  >
                    <label class="form-check-label" for="flexRadioDefault2">
                      Bac
                    </label>
                  </div>
                  
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="bac+3" id="flexRadioDefault1" [(ngModel)]="utilisateur.etude">
                    <label class="form-check-label" for="flexRadioDefault1">
                     Bac+3
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="bac+5" [(ngModel)]="utilisateur.etude">
                    <label class="form-check-label" for="flexRadioDefault2">
                     Bac+5
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="ingenieur" [(ngModel)]="utilisateur.etude" >
                    <label class="form-check-label" for="flexRadioDefault2">
                     Ingenieur
                    </label>
                  </div>
                  <hr>
                  
                 
        
            
                <h3>I'm a</h3>
                
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" value="homme" [(ngModel)]="utilisateur.genre">
                    <label class="custom-control-label" for="defaultGroupExample1">Homme</label>
                  </div>
                  
                  
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" value="famme" [(ngModel)]="utilisateur.genre" >
                    <label class="custom-control-label" for="defaultGroupExample2">Famme</label>
                  </div>
                  
                  <hr>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Informatique /electrcity/..." name="sector" [(ngModel)]="utilisateur.formation"   required>
                    <label for="floatingPassword">Training sector</label>
                  </div>
                  <hr>
                  
                   
                  
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control"  placeholder="Languages" name="language" [(ngModel)]="utilisateur.competanceLi" required="required" >
                    <label for="floatingInput">Your Language</label>
                </div>
                    
                
                <div class="form-floating mb-3">
                    <input type="text" class="form-control"  placeholder="Skills" name="Skilles" [(ngModel)]="utilisateur.competence" required="required" >
                    <label for="floatingInput">Your Skills</label>
                </div>
                
                  
                   
                 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-outline-success me-md-2" type="submit"    >Update</button>
                 </div>

                
          </form>
            
          </div>
        </div>
        
      </div>
    </div>
      

  </div>
</section>
 


  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  